body {
  font-family: 'Alice', serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  color: white;
}
.warning {
  background-color: #e25353;
}
#header {
  display: flex;
  color: black;
}
#header .hello {
  font-size: 36px;
  padding: 10px;
  display: flex;
}
#header .hello p {
  margin-right: 10px;
  margin-left: 10px;
}
#header .hello .blog-title-emoji {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#header .about-me {
  font-size: 28px;
  padding: 15px;
}
.image-cropper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px double white;
}
.image-cropper img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100px;
  background-image: url("images/padu.jpg");
  background-size: cover;
}
.image-cropper img:hover {
  background-image: url("images/padu2.jpg");
  background-size: cover;
}
.section-title {
  padding-left: 10px;
  color: black;
}
#project-container {
  padding: 20px;
  padding-left: 30px;
}
#project-container .project {
  background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
  color: white;
  padding: 15px;
  padding-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 5px 8px 8px #979797;
}
#project-container .project:hover {
  box-shadow: 10px 12px 12px #979797;
}
#project-container h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 5px;
}
#project-container h3.small-link {
  font-size: 15px;
}
#project-container a {
  color: inherit;
  text-decoration: underline;
}
#project-container p {
  padding: 10px;
  font-size: 20px;
}
