@colorBackground: #E2CFCF;
@colorB: #e73c7e;
@colorC: #23a6d5;
@colorD:  #23d5ab;
@backgroundColor1: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
@backgroundColor2: linear-gradient(-45deg, #e73c7e, #23a6d5, #ee7752, #23d5ab);
@backgroundColor3: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
@backgroundColor4: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);

body{
    font-family: 'Alice', serif;
    background: @colorBackground;
    color: black;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 5px;
}

a:hover{
  background-color: #C1EDCC;
  color: black;
}


#header{
    display: flex;
    color: black;
    cursor:url('index/images/pink_dot.png');
    .hello{
        font-size: 65px;
        padding: 10px;
        display: flex;

        p{
            margin-right: 10px;
            margin-left: 10px;
        }

        .blog-title-emoji {
            animation-name: wave-animation;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
            transform-origin: 70% 70%;
            display: inline-block;
        }

        @keyframes wave-animation {
            0% {
              transform: rotate(0deg);
            }
            15% {
              transform: rotate(14deg);
            }
            30% {
              transform: rotate(-8deg);
            }
            40% {
              transform: rotate(14deg);
            }
            50% {
              transform: rotate(-4deg);
            }
            60% {
              transform: rotate(10deg);
            }
            70% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(0deg);
            }
          }

    }
    .about-me{
        font-size: 30px;
        padding: 15px;
        line-height: 50px;
    }
}

.section-title{
    padding-left: 10px;
    color: black;
}

#social-container{
  display: flex;
  flex-wrap: wrap;
  background-color: none;
  img{
    width: 50px;
    height: 50px;
    margin: 20px;
  }
  a{
    padding: 0;
    background-color: @colorBackground;
  }
}

#skills-container{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .skill-card{
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    &.strong{
      font-size: 32px;
    }
    &.medium{
      font-size: 26px;
    }
    &.weak{
      font-size: 22px;
    }

    span {
      color: black;
      padding: 15px;
    }
  }
}

#project-container {
    padding: 20px;
    padding-left: 30px;
    .project{
        //border: 1px solid black;
        background: @backgroundColor1;
        color: white;
        padding: 15px;
        padding-left: 20px;
        margin-top: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 5px 8px 8px  #979797;
        &.color1{
          background: @backgroundColor1;
        }
        &.color2{
          background: @backgroundColor2;
        }
    }

    .project:hover{
        box-shadow: 10px 12px 12px  #979797;
    }

    h3 {
        color: white;
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 5px;
        &.small-link{
            font-size: 15px;
        }
    }

    a{
        color: inherit;
        text-decoration: underline;
    }

    p{
        padding: 5px;
        padding-right: 15px;
        font-size: 23px;
        letter-spacing: 0.4px;
        width: 75%;
    }

    img {
      width: 20%;
      height: 20%;
      border-radius: 5%;
      border: 2px solid white;
    }

    .description-container{
      display: flex;
    }
}

body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid black;
}



