body {
    background-color: red;
    font-family: 'Yatra One', cursive;

    .flag-container{
        pointer-events: none;

    }

    .title {
        color: black;
        font-size: 60px;
        pointer-events: none;
        height: 10px;
        user-select: none;
        position: relative;
    }

    #flag-section {
        font-size: 40px;
        position: fixed;
        top: -100px;
        width: 100%;
        pointer-events: auto;
        z-index: -1;
        position: relative;
        canvas {
            pointer-events: all;
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}