body {
  background-color: red;
  font-family: 'Yatra One', cursive;
}
body .title {
  color: black;
  font-size: 45px;
  height: 10px;
  user-select: none;
  position: absolute;
}
body #flag-section {
  font-size: 40px;
  position: fixed;
  top: -100px;
  width: 100%;
  cursor: grab;
  z-index: 1;
  position: absolute;
}
body #flag-section:hover {
  z-index: -1;
}
body #flag-section canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
