body {
    background-color: red;
    font-family: 'Yatra One', cursive;

   

    .title {
        color: black;
        font-size: 45px;
        height: 10px;
        user-select: none;
        position: absolute;
    }

    #flag-section {
        font-size: 40px;
        position: fixed;
        top: -100px;
        width: 100%;
        cursor: grab;
        z-index: 1;
        position: absolute;
        &:hover{
            z-index: -1;
        }
        canvas {
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}