@font-face {
  font-family: 'kindergarten';
  /*a name to be used later*/
  src: url(kindergarten.ttf);
  /*URL to font*/
}
.transition-fade {
  opacity: 1;
  transition: 1000ms;
}
html.is-animating .transition-fade {
  opacity: 0;
}
body {
  font-family: 'kindergarten';
  overflow: hidden;
  /* Hide scrollbars */
  background-color: #FFF0C2;
}
body a {
  text-decoration: none;
  color: black;
}
body .hover {
  background-color: #FFE085;
}
.group-container {
  width: 100%;
  display: inline-flex;
  z-index: 100;
}
.group-container .element-box {
  margin: 40px;
  width: 10%;
  height: 10%;
  font-size: 30px;
  width: 33%;
  text-align: center;
}
.group-container .element-box img {
  width: 40%;
}
.group-container .element-box img:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.group-container .element-box .element-tag {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  padding: 10px;
  top: 35%;
  left: 72%;
  font-size: 20px;
  display: none;
  -webkit-box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.43);
  box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.43);
}
.group-container #video-button {
  transform: translate(0px, 110px);
}
.group-container #music-button {
  transform: translate(0px, 110px);
}
.group-container #photo-button {
  transform: translate(0px, 0px);
}
.group-container #tour-button {
  width: 45%;
  transform: translate(100px, -40px);
}
.group-container #tour-button img {
  width: 25%;
}
.group-container #tour-button .element-tag {
  left: 67%;
}
.group-container #store-button {
  width: 45%;
  transform: translate(-100px, -40px);
}
.group-container #store-button img {
  width: 25%;
}
.group-container #store-button .element-tag {
  left: 67%;
}
#main-container {
  width: 95%;
  /* Can be in percentage also. */
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  text-align: center;
  z-index: -1;
}
#main-container #title {
  display: inline-block;
  text-align: center;
  width: 55%;
}
#main-container #title img {
  width: 100%;
}
.social-container {
  width: 100%;
  display: inline-flex;
  text-align: center;
  margin-top: 20px;
}
.social-container .social-element {
  width: 33%;
  height: 10%;
}
.social-container .social-element span:hover {
  cursor: pointer;
  -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 5px 5px 15px 5px rgba(0, 0, 0, 0), 18px -17px 15px 1px rgba(255, 240, 28, 0.66);
  box-shadow: 7px -5px 10px 0px #4B0082, 5px 5px 15px 5px rgba(0, 0, 0, 0), 18px -17px 15px 1px rgba(255, 240, 28, 0.66);
  background-color: white;
  border: 1px solid black;
}
#music-container {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 0.33fr 0.33fr 0.33fr;
  gap: 50px 0px;
  grid-template-areas: ". . ." ". . .";
  justify-content: center;
}
#music-container .music-element {
  margin: 30px;
  border: 3px solid black;
}
#music-container .music-element img {
  text-align: center;
  width: 200px;
}
