@dark-purple: #5a28eb;
@light-purple: #caa2f0;
@green: #01d1aa;

@blue-color: #52adff;
@green-color: #52be74;
@yellow-color: #f1cc1e;
@orange-color: #e4650d;
@red-color: #df0b07;

@color-pastel: #fff9e6;
@color-pastel-medium-dark: #FFF5D6;
@color-pastel-dark: #FFF0C2;
@color-pastel-hover-dark: #FFE085;


@morado-pastel: #caa2f0;
@naranja-pastel: #FCCE9C;
@azul-pastel: #A9DAD2;
@verde-pastel: #A3F5C2;
@rosa-pastel: #E4908B;


@font-face {
    font-family: 'kindergarten';
    /*a name to be used later*/
    src: url(kindergarten.ttf);
    /*URL to font*/
}

//Animations for transition
.transition-fade {
    opacity: 1;
    transition: 1000ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}

//Styles for main page 
body {
    font-family: 'kindergarten';
    overflow: hidden;
    /* Hide scrollbars */
    background-color: @color-pastel-dark;

    a {
        text-decoration: none;
        color: black;
    }
}

.section-title {
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.go-back {
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 60px;

    span:hover {
        cursor: pointer;
        -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 5px 5px 15px 5px rgba(0, 0, 0, 0), 18px -17px 15px 1px rgba(255, 240, 28, 0.66);
        box-shadow: 7px -5px 10px 0px #4B0082, 5px 5px 15px 5px rgba(0, 0, 0, 0), 18px -17px 15px 1px rgba(255, 240, 28, 0.66);
        background-color: white;
        border: 1px solid black;
    }
}

body .hover {
    background-color: @color-pastel-hover-dark;
}

.group-container {
    width: 100%;
    display: inline-flex;
    z-index: 100;

    .element-box {
        margin: 40px;
        width: 10%;
        height: 10%;
        font-size: 30px;
        width: 33%;
        text-align: center;

        img {
            width: 40%;
        }

        img:hover {
            cursor: pointer;
            transform: scale(1.01);
        }

        .element-tag {
            background-color: white;
            border: 1px solid black;
            position: absolute;
            padding: 10px;
            top: 35%;
            left: 72%;
            font-size: 20px;
            display: none;
            -webkit-box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.43);
            box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.43);
        }
    }

    #video-button {
        transform: translate(0px, 110px);
    }

    #music-button {
        transform: translate(0px, 110px);
    }

    #photo-button {
        transform: translate(0px, 0px);
    }

    #tour-button {
        width: 45%;
        transform: translate(100px, -40px);

        img {
            width: 25%;
        }

        .element-tag {
            left: 67%;
        }
    }

    #store-button {
        width: 45%;
        transform: translate(-100px, -40px);

        img {
            width: 25%;
        }

        .element-tag {
            left: 67%;
        }
    }
}

#main-container {
    width: 72%;
    /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
    z-index: -1;

    #title {
        display: inline-block;
        text-align: center;
        width: 55%;

        img {
            width: 100%;
        }
    }

}

.social-container {
    width: 100%;
    display: inline-flex;
    text-align: center;
    margin-top: 20px;

    .social-element {
        width: 33%;
        height: 10%;

        & span:hover {
            cursor: pointer;
            -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 5px 5px 15px 5px rgba(0, 0, 0, 0), 18px -17px 15px 1px rgba(255, 240, 28, 0.66);
            box-shadow: 7px -5px 10px 0px #4B0082, 5px 5px 15px 5px rgba(0, 0, 0, 0), 18px -17px 15px 1px rgba(255, 240, 28, 0.66);
            //-webkit-box-shadow: 5px 5px 37px 5px white;
            //box-shadow: 5px 5px 37px 5px white;
            background-color: white;
            border: 1px solid black;
        }
    }
}



//Styles for the music page
.grid-container {
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 0.33fr 0.33fr 0.33fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . ."
        ". . .";
    justify-content: center;

    .grid-element {
        margin: 30px;
        position: relative;
        margin-bottom: 10px;
        text-decoration: none;
        color: inherit;
        box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #CCC;
        background-color: #FFF;
        cursor: pointer;
        transition: .2s ease-out;

        .text-music-element {
            position: absolute;
            font-size: 40px;
            color: black;
            background-color: white;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0.7;
            display: none;
            width: 100%;
            height: 100%;
            transition: .4s ease-out;
        }

        img {
            text-align: center;
            width: 100%;
            height: 100%;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 5px 9px 5px #77b3a9;

            .text-music-element {
                display: block;
                display: block;
            }
        }
    }
}