body {
  margin: 50px;
  background-color: #fff;
  font-family: 'Taviraj', serif;
}
body .title {
  font-size: 2.5vw;
}
body .title .city {
  font-size: 4.1vw;
  color: blue;
}
body .creator {
  font-size: 1vw;
}
body ol {
  counter-reset: section;
}
body li {
  list-style-type: none;
  position: relative;
  font-size: 1.5rem;
  padding: 15px;
  margin-bottom: 15px;
  background: #fff;
  color: #000000;
  border: 1px solid black;
  cursor: help;
}
body li:hover {
  right: 20px;
  border-color: blue;
  border: 5px double blue;
}
body li:hover:before {
  border-color: red;
  border: 2px solid red;
}
body .event-title {
  position: relative;
  font-size: 30px;
  font-weight: bold;
}
body .event-title:after {
  content: '';
  position: absolute;
  width: 25px;
}
body .event-description {
  font-size: 20px;
}
body .event-data-container {
  background: #e9e9e9;
  width: 100%;
  display: inline-flex;
}
body .event-small-data {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
}
body .event-small-data.event-location {
  color: blue;
  cursor: pointer;
}
body .event-location:hover {
  text-decoration: underline;
}
body li::before {
  text-align: center;
  display: inline-block;
  color: #000;
  border-radius: 50%;
  position: absolute;
  left: -65px;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  font-size: 2rem;
  width: 25px;
  height: 25px;
  border: 2px solid #000;
}
@media screen and (max-width: 450px) {
  body {
    margin: 10px;
  }
  body ol {
    padding: 0;
  }
  body .event-data-container {
    display: block;
  }
  body li:hover {
    right: 0px;
    border: 1px solid double;
  }
  .event-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  body .title {
    font-size: 6vw;
  }
  body .title .city {
    font-size: 7vw;
  }
  body .title .creator {
    font-size: 3vw;
  }
}
