body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0%;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;   
}
h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.1px;
    color: white;
    margin: 0px;
}
h1.hero.string{}
h2.subtitle{
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: -.1px;
    color: white;
    margin: 0px;
    text-align: center;
    font-style: italic;
}

header .logo img{
    height: 50px;
}

img.logo_andres{
    position: relative;
    left: 200px;
    border-radius: 5px;
}
.hero-image{
    object-fit: cover;
}
h1 strong{
    color: #026FFF;
}
.hero{
    height: 300px;
  /* background-image: url('../images/hero.jpg'); */
  background-color: #1b2127;
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero_logo{
    height: 300px;
    background-color: #10151a;
    align-items: center;
    justify-content: space-between;
}
.detalle-projecto {
    width: 500px;
}
.contenedorImagen-proyecto{
    width: 500px;
    display: inline-block;
}
.titulo-proyecto{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.portfolio{
    background:#FAFAFA;
    padding: 20px;
}
.project{
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0%;
    margin: 10px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 5px 33px  #888888;
}
.project-course, .project-date, project-url{
    margin: 10px 0;
}
.descripcion-project{
    margin-right: 20px;
    font-size: 20px;
}
.project strong{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal; 
}
.header{
    background-color: #1d252c;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
ol, ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
figure{
    margin: 0;
}
h2 {
    color: #101113;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.header a{
    color: white;
    text-decoration: none;
}
.header ol{
    display: flex;
    height: inherit;
    align-items: center;
}
.header ol li {
    height: inherit;
    display: flex;
    align-items: center;
}
.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}
.menu{
    height: inherit;
}
.header p{
    color: white;
    text-decoration: none;
}
footer p{
    padding-left: 40px
}
footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer img{
    vertical-align: middle;
}
footer a{
    color: white;
}
.contact{
    background-color: #1e1e1f;
    color:white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.social-link.art_station{
    background-image: url('../images/art_station.png');
    background-size: 50px 50px;
}
.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    width: 1000px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    margin: 0 auto;
    flex-wrap: inherit;
}
.hero-title{
    width: inherit;
}
.hero-title h1{
    text-align: center;
}