body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.1px;
    color: white;
    margin: 0px;
}

h1.hero.string {}

h2.subtitle {
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: -.1px;
    color: white;
    margin: 0px;
    text-align: center;
    font-style: italic;
}

header .logo img {
    height: 50px;
}

img.logo_andres {
    position: relative;
    width: 50%;
    height: auto;
    padding-left: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.hero-image {
    object-fit: cover;
}

h1 strong {
    color: #026FFF;
}

.hero {
    height: auto;
    background-color: #1b2127;
}

.hero_logo {
    background-color: #10151a;
}

.detalle-projecto {
    width: 50%
}

.contenedorImagen-proyecto {
    text-align: center;
    width: 50%;
}

.contenedorImagen-proyecto img {
    border-radius: 15px;
    max-width: 100%;
}

.titulo-proyecto {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.portfolio {
    background: #FAFAFA;
    padding: 20px;
}

.project {
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0%;
    margin: 10px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 5px 33px #888888;
    flex-wrap: wrap;
}

.project-course,
.project-date,
project-url {
    font-size: 15px;
    margin: 10px 0;
}

.descripcion-project {
    margin-right: 20px;
    font-size: 25px;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

.header {
    background-color: #1d252c;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

figure {
    margin: 0;
}

h2 {
    color: #101113;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header ol {
    display: flex;
    height: inherit;
    align-items: center;
}

.header ol li {
    height: inherit;
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.menu {
    height: inherit;
}

.header p {
    color: white;
    text-decoration: none;
}

footer p {
    padding-left: 40px
}

footer {
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer img {
    vertical-align: middle;
}

footer a {
    color: white;
}

.contact {
    background-color: #1e1e1f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;

}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.social-link.art_station {
    background-image: url('../images/art_station.png');
    background-size: 50px 50px;
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.hero-title {
    padding: 35px;
    width: inherit;
}

.hero-title h1 {
    text-align: center;
}

.listContainer {
    justify-content: center;
    padding-left: 10%;
}

.skills {
    text-align: center;
}

.skills li {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.skills li:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 90%;
    height: 20px;
    background-color: #1b2127;
    opacity: 0.3;
    border-radius: 1000px;
}

.skills li:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 20px;
    background-color: #026FFF;
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.level2:after {
    width: 40%;
}

li.level3:after {
    width: 60%;
}

li.level4:after {
    width: 80%;
}

#skills h1 {
    color: #101113;
    font-size: 35px;
    padding: 10px;
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    .project {
        display: block;
    }

    .contenedorImagen-proyecto{
        width: auto;
    }

    .detalle-projecto{
        width: auto;
        text-align: center;
    }
}

@media screen and (max-width: 479px) {
    .header {
        display: block;
        height: auto;
    }

    .header ol {
        display: block;
    }

    .header ol li {
        height: 50px;
        text-align: center;
        display: block;
    }

    .header a {
        justify-content: center;
    }

    .header .logo {
        text-align: center;
    }
}


@media screen and (max-width: 319px) {
    .hero h1 {
        font-size: 20px;
    }
    
    .hero h2 {
        font-size: 15px;
    }

    .titulo-proyecto{
        font-size: 25px;
    }

    .skills .listContainer{
        padding-left: 10%;
    }

    .skills li:before{
        width: 90%;
    }

    .descripcion-project {
        font-size: 20px;
    }

    .contact{
        text-align: center;
    }

    .contact .social {
        width: 100%;
    }

    footer{
        font-size: 15px;
    }
}