html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Libre Baskerville', serif;
    margin: 0%;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.1px;
    margin: 0px;
}

h2.subtitle {
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: -.1px;
    color: white;
    margin: 0px;
    text-align: center;
    font-style: italic;
}

h2 {
    color: #FFFFFF;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

#tituloFate {
    font-size: 5vw;
    text-shadow: 3px 0px 2px rgba(255, 68, 68, 0.68);
    width: 95%;
}

#tituloFate {
    animation: glitch 1s linear infinite;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

#tituloFate:before,
#tituloFate:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

#tituloFate:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

#tituloFate:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

.videoSection{
    background: #555;
}

.videoContainer span {
    position: absolute;
    margin: auto;
    width: 100%;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 25%;
}

.videoContainer span.description {
    width: 90%;
    font-size: 3vw;
    padding: 5%;
    margin-top: 20%;
}

.videoContainer span.title {
    font-size: 5vw;
    margin-top: 15%;
}

.html-video {
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
}

.html-video:hover {
    opacity: 1;
}

.servants {
    margin-top: 20px;
    color: #1b2127;
    background-color: white;
    text-align: center;
}

.servants {
    margin: 0;
}

.chooseServant{
    font-style: italic;
}

.chooseServant p{
    position: relative;
    top: 18px;
    margin-bottom: 3%;
    font-size: 2vw;
}

.chooseServant .title{
    font-size: 3.5vw;
    font-weight: bold;
}

.servants-list {
    display: grid;
    grid-template: 20% / 25% 25% 25% 25%;
    justify-content: center;
    grid-gap: 20px;
    margin-bottom: 10%;
    margin-top: 5%;
}

.servant-item {
    cursor: pointer;
    position: relative;
    display: block;
    transition: all .2s ease-in;
    overflow: hidden; /* Removing this will break the effects */
    opacity: 0.9;
}

a.servant-item{
    cursor: auto;
}
.servant-item:hover{
    opacity: 1;
}

.servant-item:hover .servant-image img, .servant-item.hover .servant-image img{
    transform: scale(1.05);
}

.servant-item:hover .servant-overlay, .servant-item.hover .servant-overlay{
    display: flex;
    opacity: 0.9;
}

.servant-item:hover .bottomBar span, .servant-item:hover .bottomBar span{
    left: 5%;
    letter-spacing: 0.1em;
}

.servant-item:hover .bottomBar, .servant-item.hover .bottomBar{
   background-color: rgb(0, 102, 128);
}


.servant-image {
    margin: 0;
}

.servant-image img {
    width: 100%;
    vertical-align: top;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.servant-overlay {
    background: rgba(0, 0, 0, 0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.servant-image .bottomBar{
    width: 100%;
    position: absolute;
    height: 10%;
    bottom: 0;
    background: rgb(6, 28, 37);
    transition: all .1s ease-in;
}

.bottomBar span{
    color: white;
    position: absolute;
    left: 0;
    font-size: 1.5vw;
    margin-left: 3%;
    margin-top: 1%;
    font-style: italic;
    letter-spacing: -1px;
    transition: all .2s ease-in;
}

.bottomBar span.biggerName{
    font-size: 1.1vw;
    margin-top: 10px;
}



body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{ 
    width: 10spx;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}



footer p {
    padding-left: 40px
}

footer {
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer img {
    vertical-align: middle;
}

footer a {
    color: white;
}

.contact {
    background-color: #1e1e1f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;

}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.social-link.art_station {
    background-image: url('../images/art_station.png');
    background-size: 50px 50px;
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.hero-title {
    padding: 35px;
    width: inherit;
}

.hero-title h1 {
    text-align: center;
}

.listContainer {
    justify-content: center;
    padding-left: 10%;
}



@media screen and (max-width: 1023px) {}

@media screen and (max-width: 767px) {

    .servants-list {
        grid-template: 50% / 25% 25%;
    }
    
    
    .project {
        display: block;
    }

    .contenedorImagen-proyecto {
        width: auto;
    }

    .detalle-projecto {
        width: auto;
        text-align: center;
    }
}

@media screen and (max-width: 479px) {
    .header {
        display: block;
        height: auto;
    }

    .header ol {
        display: block;
    }

    .header ol li {
        height: 50px;
        text-align: center;
        display: block;
    }

    .header a {
        justify-content: center;
    }

    .header .logo {
        text-align: center;
    }
}


@media screen and (max-width: 319px) {
    .hero h1 {
        font-size: 20px;
    }

    .hero h2 {
        font-size: 15px;
    }

    .titulo-proyecto {
        font-size: 25px;
    }

    .skills .listContainer {
        padding-left: 10%;
    }

    .skills li:before {
        width: 90%;
    }

    .descripcion-project {
        font-size: 20px;
    }

    .contact {
        text-align: center;
    }

    .contact .social {
        width: 100%;
    }

    footer {
        font-size: 15px;
    }
}