body {
  margin: 35px;
  background-color: #A8D0DB;
  font-family: 'Taviraj', serif;
}
body .header-donator {
  display: flex;
}
body .header-donator .donate {
  background-color: rgba(255, 255, 0, 0.425);
  right: 0;
  position: absolute;
  margin-right: 50px;
  cursor: pointer;
}
body .header-donator .donate:hover {
  background-color: rgba(255, 255, 0, 0.918);
}
body .header-donator form {
  position: relative;
  margin-left: 50px;
}
body button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'Taviraj', serif;
  color: #262626;
  font-size: 20px;
  font-weight: 100;
  background-color: white;
  -webkit-box-shadow: 0 0 0 0 #262626;
  -moz-box-shadow: 0 0 0 0 #262626;
  box-shadow: 0 0 0 0 #262626;
  text-shadow: 0 0 0 #262626;
  border: solid #262626 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
body button:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
  border: 4px double #262626;
}
body .title {
  margin-top: 20px;
  font-size: 48px;
}
body .title .city {
  font-size: 56px;
  text-decoration: underline;
}
body .description {
  margin-top: 10px;
  padding: 10px;
  font-size: 33px;
  font-family: 'Work Sans', sans-serif;
}
body .description b {
  font-size: 35px;
  color: black;
}
body .newsletter-container {
  display: inline-flex;
  font-size: 23px;
  font-family: 'Work Sans', sans-serif;
}
body .newsletter-container input {
  margin-left: 25px;
}
body .newsletter-text {
  font-size: 24px;
}
body .creator {
  font-size: 1vw;
  color: #262626;
}
body .creator .padu {
  font-style: italic;
  text-decoration: underline;
  border: 1px solid #262626;
  color: #262626;
  font-size: 1.2vw;
  padding: 5px;
  cursor: pointer;
  background-color: white;
}
body .creator .padu:hover {
  border: 2px dashed #00adb1;
}
body #mc_embed_signup_scroll {
  display: flex;
}
body ol {
  counter-reset: section;
  margin-left: 0px;
  padding-left: 0px;
}
body li {
  list-style-type: none;
  position: relative;
  font-size: 1.5rem;
  padding: 15px;
  margin-bottom: 15px;
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #262626;
  box-shadow: 3px 5px 6px #979797;
}
body li.desktop:hover {
  animation-duration: 0.4s;
  animation-name: slideIn;
  animation-fill-mode: forwards;
  border: 2px solid #00d3d6;
}
@keyframes slideIn {
  100% {
    box-shadow: 13px 15px 16px #979797;
  }
}
body .filter-container {
  width: 100%;
  display: inline-flex;
  margin-top: 20px;
}
body .filter-container select {
  background-color: white;
  border: 2px solid #262626;
  font-family: 'Taviraj', serif;
  font-weight: bold;
  font-size: 20px;
}
body .filter-container .filter {
  background-color: white;
  font-size: 25px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #262626;
  cursor: pointer;
}
body .filter-container .filter.selected {
  border: 2px solid #262626;
  background-color: #00adb1;
  color: white;
}
body .filter-container .filter.selected:hover {
  border: 2px solid #262626;
}
body .filter-container .filter:hover {
  border: 2px dashed #00adb1;
}
body .event-head {
  display: inline-flex;
  width: 85%;
}
body .event-head .event-title {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  line-height: 32px;
}
body .event-head .event-district {
  position: absolute;
  right: 0;
  margin-right: 15px;
}
body .event-title:after {
  content: '';
  position: absolute;
  width: 25px;
}
body .event-description {
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-stretch: condensed;
}
body .event-description #link-to-event {
  color: #00d3d6;
}
body .event-description .shareWhatsapp {
  margin-left: 20px;
}
body .event-description a {
  background: #e9e9e9;
  display: inline-flex;
  font-size: 15px;
  color: #6D696A;
}
body .event-description a:hover {
  cursor: pointer;
  background-color: yellow;
}
body .event-data-container {
  background-color: white;
  border: 1px solid #262626;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  display: inline-flex;
}
body .event-more-info {
  display: inline-flex;
  font-size: 20px;
  color: #00d3d6;
}
body .event-more-info #link-to-event {
  background: #e9e9e9;
}
body .event-more-info #link-to-event:hover {
  background-color: yellow;
}
body .event-more-info .shareWhatsapp {
  position: absolute;
  right: 0;
  margin-right: 15px;
  color: #262626;
  font-size: 12px;
  display: flex;
  cursor: pointer;
}
body .event-more-info .shareWhatsapp .whatsappImage {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  position: relative;
  background-size: 100%;
  background-image: url('../images/share.png');
}
body .event-more-info .shareWhatsapp:hover {
  background-color: yellow;
}
body .event-small-data {
  font-size: 19px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
}
body .event-small-data.event-location {
  color: #00d3d6;
  cursor: pointer;
}
body .event-small-data.event-location:hover {
  background-color: yellow;
}
body .event-small-data.event-location.none {
  color: #A8D0DB;
  cursor: initial;
}
body .event-small-data.event-location.none:hover {
  text-decoration: none;
}
body .event-small-data.event-audience {
  color: #585858;
  font-style: italic;
}
body li::before {
  text-align: center;
  display: inline-block;
  color: #000;
  border-radius: 50%;
  position: absolute;
  left: -65px;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  font-size: 2rem;
  width: 25px;
  height: 25px;
  border: 2px double #000;
}
body .no-events {
  display: none;
  background-color: #A8D0DB;
  width: 100%;
  font-size: 50px;
  color: #262626;
  border: 1px solid #262626;
  background-color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}
body .loading {
  width: 100%;
  font-size: 30px;
  color: #262626;
  background-color: #FFFFFF;
  border: 1px solid #262626;
}
body .loading .text {
  margin-left: 15px;
}
body .loading #dots {
  font-size: 35px;
}
@media screen and (max-width: 900px) {
  body .title {
    font-size: 28px;
  }
  body .title .city {
    font-size: 32px;
  }
  body .creator {
    font-size: 14px;
  }
  body .creator .padu {
    font-size: 18px;
  }
  body .description {
    font-size: 18px;
  }
  body .description b {
    font-size: 22px;
  }
  body .newsletter-text {
    font-size: 14px;
  }
  body input {
    width: 150px;
    height: 30px;
    font-size: 15px;
  }
  body button {
    font-size: 15px;
  }
  body .filter-container .filter {
    width: 15%;
    font-size: 15px;
  }
  body .filter-container select {
    font-size: 15px;
  }
  body .event-head {
    display: inline-block;
    margin-bottom: 20px;
  }
  body .event-head .event-title {
    font-size: 26px;
    line-height: 27px;
  }
  body .event-head .event-district {
    font-size: 16px;
    left: 15px;
  }
  body .event-data-container {
    display: inline-block;
  }
  body .event-data-container .event-small-data {
    font-size: 18px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  body .no-events {
    font-size: 25px;
  }
  body .loading {
    font-size: 18px;
  }
  body .loading #dots {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  body .header-donator {
    display: block;
  }
  body .header-donator .creator {
    line-height: 30px;
  }
  body .header-donator .donate {
    margin-top: 10px;
    position: relative;
  }
  body .filter-container .filter {
    padding: 3px;
    margin-left: 4px;
    font-size: 12px;
  }
  body .filter-container select {
    font-size: 12px;
    width: 90px;
  }
  body .event-head {
    width: 100%;
  }
  body .event-head .event-title {
    font-size: 20px;
  }
  body .event-description {
    font-size: 15px;
  }
  body .event-data-container .event-small-data {
    font-size: 13px;
  }
  body input[type=email] {
    width: 40%;
    font-size: 15px;
  }
  body input[type=submit] {
    height: 100%;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'Work Sans', sans-serif;
    color: #262626;
    font-size: 20px;
    font-weight: 100;
    background-color: white;
    -webkit-box-shadow: 0 0 0 0 #262626;
    -moz-box-shadow: 0 0 0 0 #262626;
    box-shadow: 0 0 0 0 #262626;
    text-shadow: 0 0 0 #262626;
    border: solid #262626 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  body .title {
    font-size: 27px;
  }
}
@media screen and (max-width: 320px) {
  body {
    margin-top: 20px;
  }
  body .event-head .event-title {
    font-size: 17px;
  }
  body .filter-container {
    font-size: 15px;
  }
  body .filter-container select {
    width: 70px;
  }
  body .loading {
    font-size: 18px;
  }
  body .loading #dots {
    font-size: 20px;
  }
}
body::-webkit-scrollbar-track {
  background-color: aliceblue;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
  background-color: #00adb1;
}
input[type=submit] {
  height: 100%;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'Work Sans', sans-serif;
  color: #262626;
  font-size: 20px;
  font-weight: 100;
  background-color: white;
  -webkit-box-shadow: 0 0 0 0 #262626;
  -moz-box-shadow: 0 0 0 0 #262626;
  box-shadow: 0 0 0 0 #262626;
  text-shadow: 0 0 0 #262626;
  border: solid #262626 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
input[type=email] {
  width: 30%;
  height: 30px;
  padding: 5px;
  border: 1px solid #262626;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
}
input[type=text]:focus {
  border: 3px double #262626;
  font-size: 20px;
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
}
