body {
  margin: 40px;
  background-color: #cbacf6;
  font-family: 'Work Sans', sans-serif;
}
body .header-donator {
  display: inline-block;
  font-size: 1.1rem;
}
body .header-donator .donate {
  background-color: rgba(255, 255, 0, 0.425);
  cursor: pointer;
}
body .header-donator .donate:hover {
  background-color: rgba(255, 255, 0, 0.918);
  font-weight: bold;
}
body .header-container {
  padding: 10px;
}
body .header-container.title {
  width: 65%;
  background-color: white;
  border: 2px solid #262626;
  box-shadow: 10px 12px 0px rgba(0, 0, 0, 0.13);
  margin-top: 20px;
}
body .header-container.description {
  width: 100%;
  display: flex;
  padding-left: 0px;
}
body .header-container.description h3 {
  background-color: white;
  border: 2px solid #262626;
  box-shadow: 10px 12px 0px rgba(0, 0, 0, 0.13);
}
body .header-container.description .flag-container {
  box-shadow: 10px 12px 0px rgba(0, 0, 0, 0.13);
  width: 300px;
  background-color: white;
  border: 2px solid black;
  margin: 2em;
  background-image: url(../images/3dmap.gif);
  background-size: cover;
  background-position: left;
}
body h1 {
  font-size: 2.5rem;
}
body h1 .city {
  font-size: 3rem;
  text-decoration: underline;
}
body h3 {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: normal;
}
body .important {
  background-image: linear-gradient(transparent 60%, #FFFD98 60%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
}
body .description-separator {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 0px;
  font-size: 26px;
}
body #mc_embed_signup_scroll {
  display: flex;
}
body .date-separator {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 35px;
  background-color: #FFFD98;
}
body ol {
  counter-reset: section;
  margin-left: 0px;
  padding-left: 0px;
}
body li {
  list-style-type: none;
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  color: #000000;
  background-color: #f8f8f8;
  border: 1px solid #262626;
  transition: 0.3s;
}
body li.desktop:hover {
  transition: 0.3s;
  transform: translate(4px, -4px);
  box-shadow: 10px 12px 0px rgba(0, 0, 0, 0.13);
}
@keyframes slideIn {
  0% {
    transform: translate(0px, 0px);
    box-shadow: 3px 5px 6px #979797;
  }
  100% {
    transform: translate(4px, -4px);
    box-shadow: 0px 0px 8px -8px #10162F;
  }
}
body .filter-container {
  display: inline;
  margin-top: 10px;
  border: 1px solid black;
  background-color: wheat;
  padding: 10px;
}
body .filter-container select {
  background-color: white;
  border: 2px solid #262626;
  font-weight: bold;
  font-size: 20px;
  font: 'Work Sans', sans-serif;
  width: 20%;
  max-width: 200px;
}
body .filter-container .filter,
body .filter-container .filter-dropdown {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 1rem 0.5rem 0 0;
  font-size: 1.2rem;
  text-align: center;
  font-family: SpaceGroteskRegular, sans-serif;
  line-height: 130%;
  background-color: #ff9d7a;
  border: 2px solid #5b0505;
  color: #5b0505;
  border-radius: 1rem;
  text-decoration: none;
  position: relative;
  top: 0;
  cursor: pointer;
  transition: 0.35s;
  font-weight: normal;
}
body .filter-container .filter:hover,
body .filter-container .filter-dropdown:hover {
  top: 0.25rem;
  box-shadow: 0 -1px 0 #5b0505, 0 -3px 0 -1px #5b0505, 0 -5px 0 -2px #5b0505, 0 -7px 0 -3px #5b0505, 0 -9px 0 -5px #5b0505, 0 -11px 0 -6px #5b0505;
}
body .filter-container .filter.selected,
body .filter-container .filter-dropdown.selected {
  background-color: #5b0505;
  color: #ff9d7a;
}
body .filter-container .filter.selected:hover,
body .filter-container .filter-dropdown.selected:hover {
  top: 0.25rem;
  box-shadow: 0 -1px 0 #ff9d7a, 0 -3px 0 -1px #ff9d7a, 0 -5px 0 -2px #ff9d7a, 0 -7px 0 -3px #ff9d7a, 0 -9px 0 -5px #ff9d7a, 0 -11px 0 -6px #ff9d7a;
}
body .event-head {
  display: inline-flex;
  width: 85%;
}
body .event-head .event-title {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 32px;
  text-decoration: underline;
}
body .event-head .event-title:hover {
  cursor: pointer;
  background-image: linear-gradient(transparent 60%, #FFFD98 60%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
}
body .event-head .event-district {
  position: absolute;
  right: 0;
  margin-right: 15px;
}
body .event-title:after {
  content: '';
  position: absolute;
  width: 25px;
}
body .event-description {
  font-size: 1.1rem;
  font-stretch: condensed;
}
body .event-description a {
  text-decoration: underline;
}
body .event-description a:hover {
  font-weight: bold;
  background-image: linear-gradient(transparent 60%, #FFFD98 60%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  cursor: pointer;
}
body .event-data-container {
  width: 100%;
  display: inline-flex;
}
body .event-small-data {
  font-size: 19px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 1rem 0.5rem 0 0;
  font-size: 0.9rem;
  border: 1px solid #262626;
  color: #262626;
  border-radius: 1rem;
  text-decoration: none;
}
body .event-small-data.share-whatsapp {
  text-decoration: underline;
  cursor: pointer;
}
body .event-small-data.share-whatsapp img {
  width: 15px;
  margin-top: 0px;
  margin-left: 5px;
  position: relative;
  top: 1px;
}
body .event-small-data.event-location {
  text-decoration: underline;
  cursor: pointer;
}
body .event-small-data.event-location.none {
  text-decoration: none;
  cursor: text;
}
body li::before {
  text-align: center;
  display: inline-block;
  color: #000;
  border-radius: 50%;
  position: absolute;
  left: -65px;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  font-size: 2rem;
  width: 25px;
  height: 25px;
  border: 2px double #000;
}
body .no-events {
  display: none;
  width: 100%;
  font-size: 50px;
  color: #262626;
  border: 1px solid #262626;
  text-align: center;
  background-color: white;
}
body .loading {
  width: 100%;
  font-size: 30px;
  color: #262626;
  border: 1px solid #262626;
  background-color: white;
}
body .loading .text {
  margin-left: 15px;
}
body .loading #dots {
  font-size: 35px;
}
@media screen and (max-width: 768px) {
  body .arrow {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  body .header-container h1 {
    font-size: 2rem;
  }
  body .header-container.title {
    width: 100%;
  }
  body .header-container.description {
    width: 100%;
  }
  body .header-container.description h3 {
    width: 100%;
  }
  body .header-container.description .flag-container {
    display: none;
  }
  body .event-head {
    display: inline-block;
    margin-bottom: 20px;
  }
  body .event-head .event-title {
    font-size: 26px;
    line-height: 27px;
  }
  body .event-head .event-district {
    font-size: 16px;
    left: 15px;
  }
  body .filter-container .filter,
  body .filter-container .filter-dropdown {
    font-size: 1.5rem;
  }
  body .filter-container .filter:hover,
  body .filter-container .filter-dropdown:hover {
    top: 0;
    box-shadow: none;
  }
  body .event-data-container {
    display: inline-block;
    font-size: 1rem;
  }
  body .event-data-container .event-small-data {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  body .no-events {
    font-size: 25px;
  }
  body .loading {
    font-size: 18px;
  }
  body .loading #dots {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  body .filter-container {
    display: block;
    text-align: center;
  }
  body .filter-container .filter,
  body .filter-container .filter-dropdown {
    font-size: 1.2rem;
  }
  body .filter-container .filter-dropdown {
    width: 40%;
  }
  body .filter-container select {
    font-size: 12px;
  }
  body .event-head {
    width: 100%;
  }
  body .event-head .event-title {
    font-size: 20px;
  }
  body .event-data-container {
    text-align: center;
  }
  body .event-data-container .event-small-data {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 320px) {
  body {
    margin-top: 20px;
  }
  body .event-head .event-title {
    font-size: 17px;
  }
  body .filter-container {
    font-size: 15px;
  }
  body .loading {
    font-size: 18px;
  }
  body .loading #dots {
    font-size: 20px;
  }
}
body::-webkit-scrollbar-track {
  background-color: #cbacf6;
  cursor: pointer;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #cbacf6;
  cursor: pointer;
}
body::-webkit-scrollbar-thumb {
  background-color: #FFFD98;
  cursor: pointer;
}
