@font-test2: 'Alice', serif;
@font-test1: 'Work Sans', sans-serif;
@font-test3: 'Cabin', sans-serif;
@font-test4: 'Karla', sans-serif;

//background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
@background-color: #989EC3;
@list-color: #EAF9D9;
@filter-color: #ddebf8;
@border-black-color: 1px solid hsla(215, 20.22%, 65.1%, 100%);
@color-black: #2b2839f0;
@highlight-color: #FFFD98;
@women-color: #f7b3df;


body {
  margin: 15px;
  background-color: @background-color;
  font-family: @font-test1;
  color: #2b2839f0;

  .header-container {

    h1 {
      padding: 10px;
      font-size: 2.5rem;

      .city {
        font-size: 3rem;
        text-decoration: underline;
      }
    }

    &.title {
      width: 65%;
      background-color: white;
      border: @border-black-color;
      box-shadow: 10px 12px 0px rgba(0, 0, 0, 0.13);
      margin-top: 20px;
      border-radius: 5px;
    }

    &.description {
      width: 100%;
      display: flex;
      padding-left: 0px;

      h3 {
        background-color: white;
        border: @border-black-color;
        border-radius: 5px;
        box-shadow: 10px 12px 0px rgba(0, 0, 0, 0.13);
        padding: 10px;
        font-size: 1.5rem;
        font-weight: normal;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */
      }
    }
  }

  .important {
    background-image: linear-gradient(transparent 60%, @highlight-color 60%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }

  .filter-container {
    display: inline;
    padding: 10px;

    select {
      background-color: @background-color;
      border: 2px solid @color-black;
      color: white;
      font-weight: bold;
      font-size: 20px;
      font: @font-test1;
      width: 30%;
      max-width: 200px;

      option {
        background-color: white;
      }
    }

    .filter,
    .filter-dropdown {
      display: inline-block;
      padding: 0.25rem 0.75rem;
      margin: 1rem 0.5rem 0 0;
      font-size: 1.2rem;
      text-align: center;
      line-height: 130%;
      background-color: white;
      border: 1px solid black;
      color: black;
      border-radius: 5px;
      text-decoration: none;
      top: 0;
      cursor: pointer;
      transition: .10s;
      font-weight: normal;

      &.selected {
        top: 0.5rem;
        border-bottom: 2px solid black;
        background-color: @list-color;
      }
    }
  }

  .date-separator {
    padding: 10px;
    background-color: @list-color;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    border-left: 2px solid white;
    border-right: 2px solid white;

    .text-date {
      font-size: 1.5rem;
      margin-left: 20px;
    }
  }

  .date-separator:nth-of-type(1),
  .date-separator.first {
    border-top: 4px solid white;
    border-radius: 15px 15px 0px 0px;
  }

  ol {
    padding-left: 0px;
  }

  li {
    list-style-type: none;
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid hsla(0, 0%, 0%, 10%);
    border-radius: 10px;
  }

  

  .event-head {
    display: inline-flex;

    .event-title {
      position: relative;
      font-size: 1.3rem;
      line-height: 32px;
      text-decoration: underline;


      &:hover {
        cursor: pointer;
        background-image: linear-gradient(transparent 60%, @highlight-color 60%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: top center;
      }
    }
  }

  .event-district {
    position: absolute;
    right: 0;
    margin-right: 15px;
  }

  .event-description {
    font-stretch: condensed;

    a {
      text-decoration: underline;

      &:hover {
        background-image: linear-gradient(transparent 60%, @highlight-color 60%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: top center;
        cursor: pointer;
      }
    }

    p {
      font-size: 0.9rem;
      text-align: left;
      font-weight: normal;
    }
  }

  .event-data-container {
    width: 100%;
    display: inline-flex;
  }

  .event-small-data {
    font-size: 19px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin: 1rem 0.5rem 0 0;
    font-size: 0.9rem;
    border: 1px solid @color-black;
    color: @color-black;
    border-radius: 1rem;
    text-decoration: none;

    &.share-whatsapp {
      text-decoration: underline;
      cursor: pointer;

      i {
        margin-left: 5px;
      }
    }

    &.feminismo {
      background-color: #ECD5EC;
    }

    &.event-location {
      text-decoration: underline;
      cursor: pointer;

      &.none {
        text-decoration: none;
        cursor: text;
      }
    }
  }

  li::before {
    text-align: center;
    display: inline-block;
    color: #000;
    border-radius: 50%;
    position: absolute;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    font-size: 2rem;
    width: 25px;
    height: 25px;
    border: 2px double #000;
  }

  .no-events {
    display: none;
    width: 100%;
    font-size: 2rem;
    color: @color-black;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: @list-color;
    padding: 5px;
  }

  .loading {
    width: 100%;
    font-size: 2.5rem;
    color: @color-black;
    text-align: center;
    border: 2px solid white;
    background-color: @list-color;
    border-radius: 5px;
    padding: 5px;

    .text {
      margin-left: 15px;
    }

    #dots {
      font-size: 35px;
    }
  }
}


@media screen and (max-width: 768px) {
  body {

    .arrow {
      display: block;
      text-align: center;
      margin-top: 20px;
    }

    .header-container {

      h1 {
        font-size: 1.8rem;
      }

      &.title {
        width: 100%;
      }

      &.description {
        width: 100%;

        h3 {
          width: 100%;
        }

        .flag-container {
          display: none;
        }
      }
    }

    .event-head {
      display: inline-block;

      .event-title {
        font-size: 1.1rem;
        line-height: 22px;

        &:hover {
          background-image: none;
        }
      }

      .event-description {
        p {
          font-size: 1.0rem;
          text-align: left;
        }
      }

      .event-district {
        margin-top: 5px;
        position: inherit;
        font-size: .9rem;
        left: 15px;
      }
    }

    .filter-container {

      .filter,
      .filter-dropdown {
        font-size: 1.2rem;

        &:hover {
          top: 0;
          box-shadow: none;
        }

        &.selected {
          top: 0;
          box-shadow: none;

          &:hover {
            top: 0;
            box-shadow: none;
          }
        }
      }
    }

    .event-data-container {
      display: inline-block;
      font-size: 1rem;

      .event-small-data {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .loading {
      font-size: 18px;

      #dots {
        font-size: 20px;
      }
    }
  }
}


@media screen and (max-width: 425px) {
  body {

    .filter-container {
      display: block;
      text-align: center;

      .filter,
      .filter-dropdown {
        font-size: 1.1rem;
      }

      .filter-dropdown {
        width: 50%;
      }

      select {
        font-size: 1.1rem;
      }
    }

    .event-head {
      width: 100%;
    }

    .event-data-container {
      text-align: center;

      .event-small-data {
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  body {
    margin-top: 20px;

    .event-head {
      .event-title {
        font-size: 17px;
      }
    }

    .filter-container {
      font-size: 15px;
    }

    .loading {
      font-size: 18px;

      #dots {
        font-size: 20px;
      }
    }

  }
}

body::-webkit-scrollbar-track {
  background-color: @background-color;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: @background-color;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb {
  background-color: @highlight-color;
  cursor: pointer;
}