body {
  margin: 0;
  background-color: #CFD2FA;
  font-family: 'Work Sans', sans-serif;
  color: #2b2839f0;
  font-size: 1rem;
  /*  OVERRIDE GENERAL STYLING  */
  /*  HEADER STYLES  */
}
body a {
  color: #2b2839f0;
}
body h1,
body h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 30px;
}
body .creators {
  margin: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
}
body .header-container h1 {
  padding: 10px;
  font-size: 8rem;
}
body .header-container .m-scroll {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  margin: auto;
  overflow: hidden;
  z-index: 1;
}
body .header-container .m-scroll__title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  color: #2b2839f0;
  white-space: nowrap;
  transform: scale(2);
  transition: all 1s ease;
}
body .header-container .m-scroll__title > div {
  display: flex;
  animation: scrollText 40s infinite linear;
}
body .header-container .m-scroll__title h2 {
  margin: 0;
  transition: all 2s ease;
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}
body .filter-container {
  display: inline;
  padding: 10px;
  margin: 30px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
body .filter-container select {
  border: 2px solid #2b2839f0;
  color: white;
  font-size: 20px;
  width: 30%;
}
body .filter-container select option {
  background-color: white;
}
body .filter-container .filter,
body .filter-container .filter-dropdown,
body .filter-container input[type="date"] {
  font-size: 1.5rem;
  font-weight: 300;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 1rem 0.5rem 0 0;
  text-align: center;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
  background-color: #CFD2FA;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
body .filter-container .filter.selected,
body .filter-container .filter-dropdown.selected,
body .filter-container input[type="date"].selected {
  top: 0.5rem;
  border-bottom: 2px solid black;
  background-color: #f2f3fa;
  font-weight: bold;
}
body .filter-container #district-filter {
  width: 15%;
}
body #event-section {
  padding: 50px;
}
body .date-separator {
  padding: 10px;
  background-color: #b0b3df;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-left: 2px solid white;
  border-right: 2px solid white;
}
body .date-separator .text-date {
  font-size: 2.1rem;
  margin-left: 20px;
}
body .date-separator:nth-of-type(1),
body .date-separator.first {
  border-top: 4px solid white;
  border-radius: 15px 15px 0px 0px;
}
body ol {
  padding-left: 0px;
}
body li {
  list-style-type: none;
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  background-color: white;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 10px;
}
body .event-head {
  display: flex;
  justify-content: space-between;
}
body .event-head .event-title {
  font-size: 2rem;
}
body .event-head .share-whatsapp a {
  font-size: 1.2rem;
}
body .event-district {
  margin: 5px 0px 5px 0px;
  font-size: 1.2rem;
}
body .event-description {
  font-size: 1.4rem;
  text-align: left;
  font-weight: normal;
}
body .event-data-container {
  width: 100%;
  display: inline-flex;
}
body .event-small-data {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 1rem 0.5rem 0 0;
  font-size: 1.2rem;
  border: 1px solid #2b2839f0;
  border-radius: 1rem;
  text-decoration: none;
}
body .event-small-data.share-whatsapp {
  text-decoration: underline;
  cursor: pointer;
}
body .event-small-data.share-whatsapp i {
  margin-left: 5px;
}
body .event-small-data.feminismo {
  background-color: #ECD5EC;
}
body .event-small-data.event-location {
  text-decoration: underline;
  cursor: pointer;
}
body .event-small-data.event-location .none {
  pointer-events: none;
}
body li::before {
  text-align: center;
  display: inline-block;
  color: #000;
  border-radius: 50%;
  position: absolute;
  left: -65px;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  font-size: 2rem;
  width: 25px;
  height: 25px;
  border: 2px double #000;
}
body .no-events {
  display: none;
  width: 100%;
  font-size: 2rem;
  color: #2b2839f0;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: #b0b3df;
  padding: 5px;
}
body .loading {
  width: 95%;
  font-size: 2rem;
  color: #2b2839f0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid white;
  border-radius: 15px 15px 0px 0px;
  background-color: #b0b3df;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
}
body .loading .text {
  margin: 0;
}
@media screen and (max-width: 768px) {
  body .arrow {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  body .header-container h1 {
    font-size: 1.8rem;
  }
  body .header-container.title {
    width: 100%;
  }
  body .header-container.description {
    width: 100%;
  }
  body .header-container.description h3 {
    width: 100%;
  }
  body .header-container.description .flag-container {
    display: none;
  }
  body .event-head {
    display: flex;
  }
  body .event-head .event-title {
    font-size: 1.1rem;
    line-height: 22px;
  }
  body .event-head .event-title:hover {
    background-image: none;
  }
  body .event-head .event-description p {
    font-size: 1rem;
    text-align: left;
  }
  body .event-head .event-district {
    margin-top: 5px;
    position: inherit;
    font-size: 0.9rem;
    left: 15px;
  }
  body .filter-container .filter,
  body .filter-container .filter-dropdown {
    font-size: 1.2rem;
  }
  body .filter-container .filter:hover,
  body .filter-container .filter-dropdown:hover {
    top: 0;
    box-shadow: none;
  }
  body .filter-container .filter.selected,
  body .filter-container .filter-dropdown.selected {
    top: 0;
    box-shadow: none;
  }
  body .filter-container .filter.selected:hover,
  body .filter-container .filter-dropdown.selected:hover {
    top: 0;
    box-shadow: none;
  }
  body .event-data-container {
    display: inline-block;
    font-size: 1rem;
  }
  body .event-data-container .event-small-data {
    margin: 3px 0px 3px 0px;
  }
  body .loading {
    font-size: 18px;
  }
  body .loading #dots {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  body .filter-container {
    display: block;
    text-align: center;
  }
  body .filter-container .filter,
  body .filter-container .filter-dropdown {
    font-size: 1.1rem;
  }
  body .filter-container .filter-dropdown {
    width: 50%;
  }
  body .filter-container select {
    font-size: 1.1rem;
  }
  body .event-head {
    width: 100%;
  }
  body .event-data-container {
    text-align: center;
  }
  body .event-data-container .event-small-data {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 320px) {
  body {
    margin-top: 20px;
  }
  body .event-head .event-title {
    font-size: 17px;
  }
  body .filter-container {
    font-size: 15px;
  }
  body .loading {
    font-size: 18px;
  }
}
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #b0b3df;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5dfdcb;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #2b2839f0;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
