body {
  margin: 50px;
  background-color: #fff;
  font-family: 'Taviraj', serif;


  button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'Taviraj', serif;
    color: black;
    font-size: 20px;
    font-weight: 100;
    background-color: white;
    -webkit-box-shadow: 0 0 0 0 #000000;
    -moz-box-shadow: 0 0 0 0 #000000;
    box-shadow: 0 0 0 0 #000000;
    text-shadow: 0 0 0 #000000;
    border: solid black 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }

  button:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
    border: 4px double black;
  }


  .title {
    font-size: 38px;

    .city {
      font-size: 44px;
      color: blue;
    }
  }

  .description {
    font-size: 1.3vw;
  }

  .newsletter-container {
    display: inline-flex;

    input {
      margin-left: 25px;
    }
  }

  .creator {
    font-size: 1vw;
    color: black;

    .padu {
      font-style: italic;
      text-decoration: underline;
      border: 1px solid black;
      color: blue;
      font-size: 1.2vw;
      padding: 5px;
      cursor: pointer;
    }

    .padu:hover {
      color: black;
      border: 2px dashed blue;
    }
  }

  ol {
    counter-reset: section;
  }

  li {
    list-style-type: none;
    width: 95%; 
    position: relative;
    font-size: 1.5rem;
    padding: 15px;
    margin-bottom: 15px;
    background: #fff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
  }
  li{
    &.desktop:hover{
      animation-duration: 0.2s;
      animation-name: slideIn;
      animation-fill-mode: forwards;
    }
  }

  @keyframes slideIn {
    0% {
      right: 0px;
      border: 1px double black;
    }

    100% {
      right: 20px;
      border-color: blue;
      border: 5px double blue;
    }
  }

  .filter-container {
    background-color: aliceblue;
    width: 100%;
    display: inline-flex;
    margin-top: 15px;

    select {
      background-color: aliceblue;
      border: 2px solid black;
      font-family: 'Taviraj', serif;
      font-weight: bold;
      font-size: 20px;
    }

    .filter {
      font-size: 25px;
      margin-right: 10px;
      margin-left: 10px;
      font-weight: bold;
      padding: 10px;
      border: 2px solid black;
      cursor: pointer;

      &.selected {
        border: 2px solid black;
        background-color: blue;
        color: white;
      }

      &.selected:hover {
        border: 2px solid black;
      }
    }

    .filter:hover {
      border: 2px dashed blue;
    }
  }

  .event-head {
    display: inline-flex;
    width: 90%;

    .event-title {
      position: relative;
      font-size: 30px;
      font-weight: bold;
    }

    .event-district {
      position: absolute;
      right: 0;
      margin-right: 15px;
    }
  }



  .event-title:after {
    content: '';
    position: absolute;
    width: 25px;
  }

  .event-description {
    font-size: 20px;

    a {
      background: rgb(233, 233, 233);
      display: inline-flex;
      font-size: 15px;
      color: blue;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        font-style: italic;
      }
    }
  }

  .event-data-container {
    background-color: aliceblue;
    width: 100%;
    display: inline-flex;
  }

  .event-more-info {
    background: rgb(233, 233, 233);
    display: inline-flex;
    font-size: 15px;
    color: blue;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      font-style: italic;
    }
  }

  .event-small-data {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;

    &.event-location {
      color: blue;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &.none {
        color: gray;
        cursor: initial;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &.event-audience {
      color: rgb(106, 106, 41);
      font-style: italic;
      display: none;
    }
  }

  li::before {
    text-align: center;
    display: inline-block;
    color: #000;
    border-radius: 50%;
    position: absolute;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    font-size: 2rem;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
  }


  .no-events {
    display: none;
    background-color: gray;
    width: 100%;
    font-size: 50px;
    color: blue;
    border: 1px solid black;
    background-color: aliceblue;
    text-align: center;
    .padu{
      border: 1px solid blue;
      color: black;
      font-size: 40px;
    }
    .padu:hover{
      color: blue;
      cursor: pointer;
      border: 2px dashed black;
    }
  }

  .loading {
    padding: 10px;
    width: 100%;
    font-size: 30px;
    color: blue;
    background-color: aliceblue;
    border: 1px solid black;

    .text {
      margin-left: 15px;
    }
    
    #dots {
      font-size: 35px;
    }
  }
}

@media screen and (max-width: 768px) {
  body {

    .title{
      font-size: 30px;
    }
    .creator{
      font-size: 16px;
      .padu{
        font-size: 20px;
      }
    }

    .description {
      font-size: 18px;
    }

    input {
      width: 150px;
      height: 30px;
      font-size: 15px;
    }

    button {
      font-size: 15px;
    }

    .filter-container {
      .filter {
        font-size: 15px;
      }

      select {
        font-size: 15px;
      }
    }

    .event-head{
      display: inline-block;
      margin-bottom: 20px;
      .event-title{
        font-size: 26px;
      }
      .event-district{
        font-size: 16px;
        left: 15px;
      }
    }

    .event-data-container{
      display: inline-block;
      .event-small-data{
        font-size: 18px;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }    
    .no-events{
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 425px) {
  body {
    .filter-container {
      .filter {
        padding: 3px;
        margin-left: 4px;
        font-size: 12px;
      }
  
      select {
        font-size: 12px;
        width: 90px;
      }
    }


    .event-head{
      width: 100%;
      .event-title{
        font-size: 20px;
      }
    }

    .event-description{
      font-size: 15px;
    }

    .event-data-container{
      .event-small-data{
        font-size: 13px;
      }
    }

    li{
      margin-left: -20px;
    }
  }
}

@media screen and (max-width: 425px) {
  body{
    .title{
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 320px) {
  body {

    .event-head{
      .event-title{
        font-size: 17px;
      }
    }

    .filter-container {
      select {
        width: 70px;
      }
    }

    .loading{
      font-size: 18px;
      #dots{
        font-size: 20px;
      }
    }
    
  }
}





body::-webkit-scrollbar-track {
  background-color: aliceblue;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: blue;
}

input[type=submit]{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'Taviraj', serif;
  color: black;
  font-size: 20px;
  font-weight: 100;
  background-color: white;
  -webkit-box-shadow: 0 0 0 0 #000000;
  -moz-box-shadow: 0 0 0 0 #000000;
  box-shadow: 0 0 0 0 #000000;
  text-shadow: 0 0 0 #000000;
  border: solid black 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

input[type=email] {
  padding: 5px;
  border: 1px solid black;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-size: 20px;
  font-family: 'Taviraj', serif;
}

input[type=text]:focus {
  border: 3px double black;
  font-size: 20px;
  background-color: white;
  font-family: 'Taviraj', serif;
  font-style: italic;
}
