body{
    background-color:rgb(247, 247, 247);
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
}

#inicio{
    padding: 50px;
    width: 75%;

}


#listaInicio{
    display:flex;
    line-height:40px;
    color:gray;
    opacity:0.8;
    font-size: 20px;
}

#listaInicio ul{
    list-style: none;
    margin-left: 25px;
    margin-right:25px;
}

.urlStyle{
    color:gray;
    font-style:italic;
}

#fuentesInformacion{
    
    padding: 50px;
    width: 70%;
}

#imagenfuentesInformacion{
    display:flex;
    
}

#imagenfuentesInformacion img{
    margin-right:50px;
    
}

#tecnologia{
    
    padding: 50px;
    width: 80%;
}

#contacto{
    display:flex;
}

#contactoForm{
    
    padding: 50px;
    width: 80%;
}

#contactoForm form{
    margin-bottom: 100px;
    width: 500px;
    padding: 1em;
}


#form ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

#form li + li {
    margin-top: 1em;
  }

#form label {
    width: 100%;
    text-align: left;
  }

  #form li{
      display: grid;
  }

input, textarea{
    border-radius: 14px;
    border: 1px solid rgb(77, 77, 77);
}

#form button{
    width: 100px;
    border: none;
    background-color: cyan;
    border-radius: 15px;
    color: white;
    margin-left: 200px;
}

.button{
    text-align: right;
}

button {
/* Este margen adicional representa aproximadamente el mismo espacio que el espacio
    entre las etiquetas y sus campos de texto */
margin-left: .5em;
}

.chatbox{
position: fixed;
bottom: 0;
right: 0;
background-color: teal;
}
.open_button {
    position: absolute;
    bottom: 20px;
    right:20px;
    height: 100px;
    width: 100px;
    outline: none;
    cursor: pointer;
    border-style: none;
    color: transparent;
    background-image:url("../images/icon@2x.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
    border-radius: 100%;
    overflow: visible;
    text-align: center;
    padding:0;}

.open_button::before {
    position: absolute;
    background-color: teal;
    content: '';
    top:-10px;
    left:-10px;
    right:-10px;
    bottom:-10px;
    border-radius: 1000px;
    background: radial-gradient(#ffffff, #289e98);
    filter:blur(5px);
    z-index: -1;
    overflow: visible;
}

.chatbox_support {
    display: none;
    position: absolute;
    overflow: hidden;
    bottom: 120px;
    right: 120px;
    width: 500px;
    height: 600px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #d4d4d4;
    opacity: 1;
    border-radius: 20px;
    z-index: 1;

}
.chatbox_header{
    position:absolute;
    display: block;
    top: 0px;
    height: 90px;
    width: 500px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FAFAFA;
    opacity: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 2;
    font-family: Arial,  Helvetica, sans-serif;
    font-size: 17px;
    font-weight: lighter;
    overflow: visible;

}
.chatbox_bottom{
    position: absolute;
    bottom: 0px;
    height: 70px;
    width: 500px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 6px #00000029;
    border: 1px solid #FAFAFA;
    opacity: 2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.icon_chat{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 70px;
    width: 70px;
    z-index: 4;
    overflow: visible;
    padding:0;
    outline:none;}

.circle
{
    position:absolute;
    top: 5px;
    left: 5px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #6aecc1;
    box-shadow: 0 0 15px 0 #ffffff;
    filter:blur(4px);

}
.circle_opaque
{
    position:absolute;
    top: 7.5px;
    left: 7.5px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #5bcf7e;
  
}

.chatbox_header p {
    position: relative;
    margin-left: 105px;
}

#live_chat {
    top: 10px;
}

#ask_chat {
    color: #ADADAD;
}

#close_chat{
    position:absolute;
    top: 10px;
    right:15px;
    height: 5px;
    width:20px;
    background: #C3C4C4 0% 0% no-repeat padding-box;
    outline: none;
    border-style: none;
    opacity: 1;
    border-radius: 20px;
    cursor: pointer;
    outline: none;

}

#input_user{
    position:absolute;
    top:15px;
    left:20px;
    height: 40px;
    width: 410px;
    border-style: none;
    border-radius: 20px;
    cursor: text;
    outline: none;
    padding: 20px;
}

#input_user::placeholder{
    opacity:0.6;
    left: 5px;
    margin:10px;
}

.btn {
    position: absolute;
    top:15px;
    right:20px;
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    background-color:transparent;
    background-image: url("send.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: nonep;
}

.chat_msg{
    position:absolute;
    display:inline-block;
    top: 100px;
    margin-bottom: 70px;
    bottom:10px;
    height:418px;
    width: 500px;
    background-color:transparent;
    overflow-y: scroll;
    overflow-x: hidden;
}

.msg_out{
    position:relative;
    margin-top: 10px;
    text-align: left;
    margin-left: 4%;
    margin-right: auto;
    height: fit-content;
    padding:15px;
    width: fit-content;;
    background: #e2e2e2 0% 0% no-repeat padding-box;
    outline: none;
    border-style: none;
    opacity: 1;
    border-radius: 20px;
    font-family: "tahoma";
    font-weight: 300;
    font-size: 15px;
}

  .msg_in{
    position:relative;
    text-align: right;
    right: 0px;
    margin-top: 10px;
    margin-right: 4%;
    margin-left: auto;
    padding:15px;
    height: fit-content;
    width: fit-content;
    background: #b0ebb0 0% 0% no-repeat padding-box;
    outline: none;
    border-style: none;
    opacity: 1;
    border-radius: 20px;
    font-family: "tahoma";
    font-weight: 300;
    font-size: 15px;
  }